body {
  background-color: #AEC6CF;
}
#boardContainer {
  background-color: #f7f2f9;
  padding-left: 35px;
  padding-right: 30px;
  margin-top: -10px;
  /*
  border-style: solid;
  border-color: #003060 ; */
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4.5rem; /* */
}
.board-image {
  width: 20rem;
  object-fit: cover;
  border-radius: 22px;

}
.board-description {
  display: block;
  font-size: 1.5rem;
  padding-left: 85px;
  padding-right: 85px;
}
.board-title {

  font-size: 3.2rem;
}
.boardMargin {
  padding-top: 28px;
}
