@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html, body {
	overflow-x: hidden;
}

body {
	background-color: #f7f2f9;
}

.headContainer {
  width: 100%;
  max-width: 800rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.topHeader {
  font-family: 'Montserrat',sans-serif ;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  color: #242582;
}

@media only screen and (max-width: 600px) {
	.topHeader {
		font-size: 15vw;
	}
}

a:hover {
  filter: brightness(75%);
}

.five-grid-item > i {
	font-size: 6vw; 
	color: rgba(15, 6, 99, 0.5); 
	padding-bottom: 15px;
}

.five-grid-item {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
}

.five-grid-item:hover {
	filter: brightness(98%);
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
}

.fewBlogs {
	background-color: #f7f2f9;
}

.description {
	position: relative;
	margin: 2rem -9999rem;
	background-color: var(--purple-transparent);
	padding: 1.5rem 9999rem;
	font-size: 2.2rem;
  color: #ed9fad;
  font-weight: 600;
}