@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html, body {
	overflow-x: hidden;
}

body {
	background-color: #f7f2f9;
}

.headContainer {
  width: 100%;
  max-width: 800rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.topHeader{
  font-family: 'Montserrat',sans-serif ;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  color: #242582;
}

@media only screen and (max-width: 600px) {
	.topHeader {
		font-size: 15vw;
	}
}

.description {
	position: relative;
	margin: 2rem -9999rem;
	background-color: var(--purple-transparent);
	padding: 1.5rem 9999rem;
	font-size: 2.2rem;
  color: #ed9fad;
  font-weight: 600;
}

.tabContainer {
	margin: 5% auto 0;
	height: 100%;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.tabLink {
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
  background-color: #d3d3d3;
  color: var(--purple-solid);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 2rem;
  font-weight: 600;
  width: 25%;
}

.tabLink:hover {
  filter: brightness(97%);
}

.tabLink > p {
	text-decoration: underline;
}

.tabLink > i {
	display: none;
	font-size: 6vw; 
	color: var(--purple-solid);
	padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
	.tabLink > p {
		display: none;
	}

	.tabLink > i {
		text-decoration: none;
		display: block;
	}
	.tabLink {
		height: 4rem;
	}
}

#tutor-form {
	background-color: rgb(189, 212, 251);
}

#writer-form {
	background-color: rgb(253, 240, 219);
}

#tech-form {
	background-color: rgb(240, 235, 248);
}

#design-and-marketing-form {
	background-color: rgb(243, 250, 247);
}

.tabContent {
  margin: 0 auto;
  display: none;
}